<div class="answer post-content post-{{item['_id']}}" data-id="{{item['_id']}}">
    {% autoescape false %}

    <div class="question-container">
        <div class="question">
            <div class="asker">
                <span class="text-muted">
                    <strong>
                        {% if item['info']['asking_url'] %}
                        <a href="{{item['info']['asking_url']}}">{{ item['info']['asking_name'] }}</a>
                        {% else %}
                        {{ item['info']['asking_name'] }}
                        {% endif %}
                    </strong>
                    asked:
                </span>
            </div>

            <div class="question-text">
                {{ item['info']['question'] }}
            </div>
            <div class="arrow">
                <div class="arrow-content"></div>
            </div>
        </div>

        <div class="avatarContainer">
            {% if item['info']['asking_url'] %}
            <a href="{{item['info']['asking_url']}}">
                <img src="http://api.tumblr.com/v2/blog/{{ item['info']['asking_name']; }}.tumblr.com/avatar/40" class="noGallery">
            </a>
            {% else %}
            <img src="http://assets.tumblr.com/images/anonymous_avatar_40.gif" class="noGallery">
            {% endif %}            
        </div>
    </div>

    <div class="text-container">
        {{ item['info']['answer'] }}
    </div>

    {% endautoescape %}
</div>