<div class="chat post-content post-{{item['_id']}}" data-id="{{item['_id']}}">
    {% autoescape false %}

    {% if item['info']['title'] %}
    <h3 class="title">{{ item['info']['title']}}</h3>
    {% endif %}

    <div class="chat-container">
        {% for row in item['info']['dialogue'] %}
        <p class="chat-line"> 
            <strong class="author">{{row['label']}}</strong>
            <span class="text">{{row['phrase']}}</span>
        </p>
        {% endfor %}
    </div>

    {% endautoescape %}
</div>
