<div class="link post-content post-{{item['_id']}}" data-id="{{item['_id']}}">
    {% autoescape false %}

    <div class="link-container bg-primary">
        <h4>
            <a href="{{ item['info']['url'] }}">
                {{ item['info']['title'] }}
            </a>
        </h4>
    </div>

    {% if item['info']['description'] %}
    <div class="text-container">
        {{ item['info']['description'] }}
    </div>
    {% endif %}

    {% endautoescape %}
</div>
