<div class="photo post-content post-{{item['_id']}}" data-id="{{item['_id']}}">
    {% autoescape false %}

    <div class="photoset photoset-{{item['_id']}}">
        {% for layoutRow in item['layout']%}
        <div class="photoRow photoRow-{{layoutRow['length']}}">
            {% for photo in layoutRow['photos'] %}

            {% if photo.space%}
            <div class="photoSpace">

            </div>
            {% endif%}

            <div class="photoCell">
                <a href="{{photo.original.url}}" data-toggle="lightbox" data-gallery="{{item['_id']}}" data-footer="{{ photo.title }}" data-parent="div.photoset-{{item['_id']}}">
                    <img src="{{photo.thumbnail.url}}" class="galleryPhoto">
                </a>
            </div>

            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="text-container">
        {{ item['info']['caption'] }}
    </div>

    {% endautoescape %}
</div>