<div class="quote post-content post-{{item['_id']}}" data-id="{{item['_id']}}">
    {% autoescape false %}

    {% if item['info']['text'] %}
    <blockquote>
        {{ item['info']['text'] }}
    </blockquote>
    {% endif %}

    {% if item['info']['source'] %}
    <div class="text-container">
        {{ item['info']['source'] }}
    </div>
    {% endif %}

    {% endautoescape %}
</div>
