<div class="video post-content post-{{item['_id']}}" data-id="{{item['_id']}}">
    {% autoescape false %}

    <div class="video-container">
        {{ item['player']}}
    </div>

    {% if item['info']['caption'] %}
    <div class="text-container">
        {{ item['info']['caption'] }}
    </div>
    {% endif %}

    {% endautoescape %}
</div>
