<!-- Add blog dialog -->
<div class="modal fade" id="addBlogModal" tabindex="-1" role="dialog" aria-labelledby="addBlogModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add blog</h4>
            </div>

            <div class="modal-body">
                <form role="form" id="addBlogForm">

                    <div class="form-group">
                        <label for="_id">Blog link</label>
                        <input type="text" class="form-control" name="_id" placeholder="Enter blog link" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="note">Note</label>
                        <input type="text" class="form-control" name="note" placeholder="Enter note" autocomplete="off">
                    </div>

                    <div>
                        <strong>Get links from blog</strong>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="process" value="1"> <span class="label label-primary">Look for links</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="process" value="0" checked> <span class="label label-warning">Unlooked</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="process" value="-1"> <span class="label label-danger">Don't look for links</span>
                        </label>
                    </div>

                    <div>
                        <strong>Availabilty</strong>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="not_available" value="0"> <span class="label label-primary">Available</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="not_available" value="1" checked> <span class="label label-danger">Not available</span>
                        </label>
                    </div>

                    <div>
                        <strong>Read</strong>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="read" value="1"> <span class="label label-primary">Read</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="read" value="0" checked> <span class="label label-default">Not read</span>
                        </label>
                    </div>

                    <div>
                        <strong>Export</strong>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="export" value="1"> <span class="label label-primary">Exported</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="export" value="0" checked> <span class="label label-default">Not exported</span>
                        </label>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="commit">Add blog</button>
            </div>
        </div>
    </div>
</div>
<!-- View options dialog -->