<!-- View options dialog -->
<div class="modal fade" id="viewOptionsModal" tabindex="-1" role="dialog" aria-labelledby="viewOptionsModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">View options</h4>
            </div>

            <div class="modal-body">                            
                <form role="form" id="viewOptions">

                    <div class="form-group">
                        <label for="_id">Blog link</label>
                        <input type="text" class="form-control" name="_id" placeholder="Enter blog link regexp" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="blog_title">Blog title</label>
                        <input type="text" class="form-control" name="blog_title" placeholder="Enter blog title regexp" autocomplete="off">
                    </div>

                    <div>
                        <strong>Get links from blog</strong>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="process" value="1"> <span class="label label-primary">Look for links</span>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="process" value="0"> <span class="label label-warning">Unlooked</span>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="process" value="-1"> <span class="label label-danger">Don't look for links</span>
                        </label>
                    </div>

                    <div>
                        <strong>Availabilty</strong>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="not_available" value="0"> <span class="label label-primary">Available</span>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="not_available" value="1"> <span class="label label-danger">Not available</span>
                        </label>
                    </div>

                    <div>
                        <strong>Read</strong>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="read" value="1"> <span class="label label-primary">Read</span>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="read" value="0"> <span class="label label-default">Not read</span>
                        </label>
                    </div>

                    <div>
                        <strong>Export</strong>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="export" value="1"> <span class="label label-primary">Exported</span>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="export" value="0"> <span class="label label-default">Not exported</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Sorting order and pages skipping</label>

                        <div class="form-inline">
                            <select name="order" class="form-control">
                                <option value="1">Ascending</option>
                                <option value="-1">Descending</option>
                            </select>
                            <input type="text" class="form-control" name="skip" placeholder="Skip first n pages" autocomplete="off">
                        </div>
                    </div>

                    <div>
                        <strong>View options</strong>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="compact" value="1"> Compact view
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="edit" value="1"> Edit mode
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="update_immediately" value="1"> Update without confirmation
                        </label>

                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="commit">Apply</button>
            </div>
        </div>
    </div>
</div>
<!-- View options dialog -->