<div class="col-xs-12 action-menu-container action-menu-container-small">
    <div class="list-group action-menu">
        <div class="list-group-item prev-page"><a href="#" class="action-link">Previous page</a></div>
        <div class="list-group-item count-bt"><a href="#" class="action-link">Found <span class="value"></span> items</a></div>
        <div class="list-group-item next-page"><a href="#" class="action-link">Next page</a></div>
    </div>
</div>
</div>
<!-- End of content -->

<!-- Action menu -->
<div class="col-xs-2 action-menu-container">
    <div class="list-group action-menu" data-spy="affix" data-offset-top="90">
        <div class="list-group-item"><a href="#" class="action-link" id="authBtn">Authorize</a></div>
        <div class="list-group-item"><a href="#" class="action-link" id="authOAuthBtn">Tumblr OAuth</a></div>
        <div class="list-group-item emphase" id="postsLinkBt"><a href="/index.html" class="action-link">Posts</a></div>
        <div class="list-group-item" id="blogsLinkBt"><a href="/blogs.html" class="action-link">Blogs</a></div>
        <div class="list-group-item" id="tagsLinkBt"><a href="/tags.html" class="action-link">Tags</a></div>
        <div class="list-group-item list-divider">&nbsp;</div>
        <div class="list-group-item" id="exportLinkBt"><a href="/export.html" class="action-link">Export blogs</a></div>
        <div class="list-group-item" id="rssBt"><a href="/posts/export?type=rss" class="action-link">RSS feed</a></div>

        <div class="list-group-item emphase">
            <div class="dropdown">
                <div class="dropdown-toggle" id="getDataMenu" data-toggle="dropdown"><a href="#" class="action-link">Grabber <span class="caret"></span></a></div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="getDataMenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getBlogsByTags">Get blogs by tags</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getBlogsByLinks">Get blogs by links</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getBlogsByPosts">Get blogs by posts</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getBlogsInfo">Update blogs info</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getPosts">Read blogs</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getUpdatePosts">Update all posts</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="importParsing">Import by parsing</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="importFollowers">Import followers</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="importFollowings">Import followees</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getHealth">Get app status</a></li>
                </ul>
            </div>
        </div>

        <div class="list-group-item list-divider">&nbsp;</div>

        <div class="list-group-item prev-page"><a href="#" class="action-link">Previous page</a></div>
        <div class="list-group-item count-bt"><a href="#" class="action-link">Found: <span class="value"></span></a></div>
        <div class="list-group-item next-page"><a href="#" class="action-link">Next page</a></div>                    
    </div>
</div>            
<!-- End of action menu -->
</div>