<!-- View options dialog -->
<div class="modal fade" id="viewOptionsModal" tabindex="-1" role="dialog" aria-labelledby="viewOptionsModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">View options</h4>
            </div>

            <div class="modal-body">                            
                <form role="form" id="viewOptions">

                    <div class="form-group">
                        <label>Blogs</label>

                        <div class="blogs">
                        </div>

                        <div class="input-group">
                            <input type="text" class="form-control" name="blogname" placeholder="Blog name or address" autocomplete="off">
                            <span class="input-group-btn">
                                <button name="addblog" class="btn btn-default">
                                    Add blog
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Tags</label>

                        <div class="tags">
                        </div>

                        <div class="input-group">
                            <input type="text" class="form-control" name="tagname" placeholder="Tag name" autocomplete="off">
                            <span class="input-group-btn">
                                <button name="addtag" class="btn btn-default">
                                    Add tag
                                </button>
                            </span>
                        </div>
                    </div>

                    <div>
                        <strong>Likes</strong>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="user_liked" value="0">Not liked <span class="glyphicon glyphicon-heart-empty"></span>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="user_liked" value="1">Liked <span class="glyphicon glyphicon-heart"></span>
                        </label>                        
                    </div>

                    <div>
                        <strong>Post types</strong>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="type" value="text">Text
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="type" value="quote">Quote
                        </label>                        
                        <label class="checkbox-inline">
                            <input type="checkbox" name="type" value="link">Link
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="type" value="answer">Answer
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="type" value="video">Video
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="type" value="audio">Audio
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="type" value="photo">Photo
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="type" value="chat">Chat
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Sorting order and pages skipping</label>

                        <div class="form-inline">
                            <select name="order" class="form-control">
                                <option value="1">Ascending</option>
                                <option value="-1">Descending</option>
                            </select>
                            <input type="text" class="form-control" name="skip" placeholder="Skip first n pages" autocomplete="off">
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="commit">Apply</button>
            </div>
        </div>
    </div>
</div>
<!-- View options dialog -->