<div class="panel panel-default content">                    
    <div class="panel-body">

        <div class="btn-toolbar content-buttons" role="toolbar">
            <div class="left-buttons btn-group">
                <button type="button" class="btn btn-primary" id="viewOptionsBt">View options <span class="glyphicon glyphicon-cog"></span></button>
                <button type="button" class="btn btn-default" id="refreshBt">Refresh <span class="glyphicon glyphicon-refresh"></span></button>
            </div>

            <div class="right-buttons btn-group">
                <button type="button" class="btn btn-default btn-xs prev-page" >&larr; Previous page</button>
                <button type="button" class="btn btn-default btn-xs next-page" >Next page &rarr;</button>
            </div>                            
        </div>

    </div>
</div>

<div class="posts-content">

</div>
