body {
    .site-content {
        .content {
            table.blogs-content {
                margin-top: 25px;
                tr {
                    min-height: 80px;
                    .avatarCol {
                        width: 58px;
                        vertical-align: top;
                    }
                    .infoCol {
                        .main-info {
                            .left-part {
                                &.info-part {
                                    display: block;
                                    &.edit {
                                        display: none;
                                    }
                                    .note {
                                        font-style: italic;
                                    }
                                }
                                &.form-part {
                                    display: none;
                                    &.edit {
                                        display: block;
                                    }
                                    form {
                                        padding-bottom: 2px;
                                        .submit-button {
                                            float: right;
                                        }
                                    }
                                }
                                .link {
                                    font-weight: bold;
                                }
                            }
                            .more-button {
                                float: right;
                                width: 100px;
                                text-align: right;
                                button {
                                    margin-top: 3px;
                                }
                            }
                        }
                        .blog-info {
                            margin-top: 10px;
                        }
                    }
                    .editCol {
                        width: 45px;
                        .icon {
                            margin-top: 11px;
                            margin-left: 5px;
                            a {
                                text-decoration: none;
                                color: rgba(0,0,0,0.25);
                                &:hover {
                                    color: rgba(0,0,0,0.75);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#viewOptionsModal #viewOptions {
    select[name='order'] {
        margin-right: 10px;
    }
}