body {
    .site-content {
        .content {
            table.export-content {
                margin-top: 25px;
                .naCol {
                    line-height: 27px;
                    width: 47px;
                }
                .avatarCol {
                    width: 47px;
                }
                .linkCol {
                    line-height: 27px;
                    .note {
                        font-style: italic;
                    }
                }
            }
        }
    }
}
