@bg-color: #2c4762;

body {
    background-color: @bg-color;

    .site-content {
        @media (min-width: 768px) {
            padding-top: 80px;
        }

        .action-menu-container {
            @media (max-width: 767px) {
                &:not(.action-menu-container-small) {
                    display: none;
                }
            }
            @media (min-width: 768px) {
                &.action-menu-container-small {
                    display: none;
                }
            }

            .action-menu {
                @media (min-width: 768px) {
                    width: 120px;
                }
                @media (min-width: 992px) {
                    width: 140px;
                }
                @media (min-width: 1200px) {
                    width: 160px;
                }

                &.affix {
                    top: 0;
                }
                .list-divider {
                    border-top: 0;
                }
                .list-group-item {
                    border-color: rgba(255,255,255,0.08);
                    border-right: 0;
                    border-bottom: 0;
                    border-left: 0;
                    background-color: transparent;
                    .action-link {
                        font-weight: bold;
                        text-decoration: none;
                        color: rgba(255,255,255,0.50);
                    }
                    &:hover {
                        background-color: rgba(255,255,255,0.04);
                    }
                    &.active {
                        background-color: rgba(255,255,255,0.08);
                    }
                    &:first-child {
                        .list-divider();
                    }
                    &.emphase {
                        border-color: rgba(255,255,255,0.24);
                    }
                }
            }
        }
        .content {
            .content-buttons {
                .left-buttons {
                    float: left;
                }
                .right-buttons {
                    float: right;
                }
            }

        }
        .prev-page, .next-page, .count-bt {
            display: none;
        }
    }

    #successModal {
        .modal-header.bg-success {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
    }
    #errorModal {
        .modal-header.bg-danger {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
    }

    #importParsingModal {
        textarea {
            resize: vertical;
            height: 250px;
        }
    }
}
