body {
    .site-content {
        div.posts-content {
            .post {
                img {
                    @media (min-width: 768px) {
                        max-width: 100%;
                    }
                    @media (max-width: 767px) {
                        max-width: 150px;
                    }
                }

                .header {
                    display: table;
                    width: 100%;

                    div.cell {
                        display: table-cell;
                        vertical-align: middle;

                        &.avatarCol {
                            width: 50px;
                        }

                        &.dateCol {
                            text-align: right;
                        }

                        &.linkCol {
                            text-align: right;
                            width: 23px;
                        }
                    }
                }

                .post-content {
                    @media (min-width: 768px) {
                        width: 538px;
                        max-width: 538px;
                    }
                    @media (min-width: 992px) {
                        width: 565px;
                        max-width: 565px;
                    }
                    @media (min-width: 1200px) {
                        width: 603px;
                        max-width: 603px;
                    }

                    img:not(.noGallery) {
                        cursor: pointer;
                    }
                }

                .text {
                    .title {
                        margin-top: 0px;
                    }
                }

                .video {
                    .video-container {
                        text-align: center;
                    }

                    .text-container {
                        margin-top: 10px;
                    }
                }

                .audio {
                    .audio-container {
                        width: 100%;
                        display: table;

                        .cover-container {
                            width: 155px;

                            img {
                                max-width: 145px;
                            }
                        }

                        .player-container, .cover-container {
                            vertical-align: top;
                            display: table-cell;
                        }

                        .link {
                            margin-top: 7px;
                        }
                    }

                    .text-container {
                        margin-top: 10px;
                    }
                }

                .link {
                    .link-container {
                        border-radius: 4px;
                        padding: 50px 30px;
                        text-align: center;

                        h4 {
                            margin: 0px;
                            font-weight: 600;

                            a {
                                color: #ffffff;
                            }
                        }
                    }

                    .text-container {
                        margin-top: 17px;
                    }
                }

                .chat {
                    .title {
                        margin-top: 0px;
                    }
                }

                .answer {
                    .question-container {
                        display: table;
                        width: 100%;
                    }

                    .question {
                        position: relative;
                        display: table-cell;
                        vertical-align: top;
                        background-color: #f5f5f5;
                        border: 1px solid #cccccc;
                        border-radius: 4px;
                        padding: 10px 25px 12px 25px;

                        .asker {
                            margin-bottom: 3px;
                        }

                        .arrow {
                            position: absolute;
                            right: -10px;
                            top: 10px;
                            width: 0px;
                            height: 0px;
                            border-width: 10px 0px 10px 10px;
                            border-style: solid;
                            border-color: transparent;
                            border-left-color: #cccccc;

                            .arrow-content {
                                position: absolute;
                                left: -10px;
                                top: -9px;
                                width: 0px;
                                height: 0px;
                                border-width: 9px 0px 9px 9px;
                                border-style: solid;
                                border-color: transparent;
                                border-left-color: #f5f5f5;
                            }
                        }
                    }

                    .avatarContainer {
                        display: table-cell;
                        vertical-align: top;
                        width: 55px;
                        text-align: right;
                    }

                    .text-container {
                        margin-top: 10px;
                    }
                }

                .photo {
                    @photoRowLength: 600px;
                    @photoSpaceLength: 6px;

                    .photoset {
                        text-align: center;

                        .photoRow {
                            display: inline-table;

                            @media (max-width: 767px) {
                                width: 100%;
                                max-width: 100%;
                            }
                            @media (min-width: 768px) {
                                width: 538px;
                                max-width: 538px;
                            }
                            @media (min-width: 992px) {
                                width: 565px;
                                max-width: 565px;
                            }
                            @media (min-width: 1200px) {
                                width: 603px;
                                max-width: 603px;
                            }

                            margin-bottom: @photoSpaceLength;

                            .photoCell {
                                display: table-cell;
                                vertical-align: top;

                                img {
                                    max-width: 100%;
                                }
                            }

                            .photoSpace {
                                width: @photoSpaceLength;
                            }
                        }

                        .generatePhotoRow(@cols, @maxWidth) when (@cols > 0){
                            .generatePhotoRow((@cols - 1), (@maxWidth));

                            .photoRow-@{cols} {
                                .photoCell {
                                    width: ((@maxWidth - @photoSpaceLength * (@cols - 1)) / @cols);
                                    max-width: ((@maxWidth - @photoSpaceLength * (@cols - 1)) / @cols);
                                }
                            }
                        }

                        @media (min-width: 768px) {
                            .generatePhotoRow(4, 538px);
                        }
                        @media (min-width: 992px) {
                            .generatePhotoRow(4, 565px);
                        }
                        @media (min-width: 1200px) {
                            .generatePhotoRow(4, 603px);
                        }
                    }

                    .text-container {
                        margin-top: 10px;
                    }
                }

                .tags {
                    margin-top: 10px;
                    .tag, .usertag {
                        margin-right: 7px;
                        opacity: 0.7;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .tag {
                        color: #555555;
                    }

                    .usertag:hover {
                        cursor: pointer;
                    }
                }

                .footer {
                    display: table;
                    width: 100%;

                    .cell {
                        display: table-cell;
                        vertical-align: middle;

                        &.likeCol {
                            text-align: right;


                            .like {
                                color: #555555;
                                font-size: 20px;

                                &:hover {
                                    cursor: pointer;
                                }

                                &.liked {
                                    color: #ff0000;
                                }
                            }
                        }

                        &.tagBtCell {
                            button.open-tag-form {
                                width: 80px;
                            }
                        }

                        &.tagFormCell {
                            display: none;

                            button.close-tag-form {
                                width: 80px;
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#viewOptionsModal #viewOptions {
    div.blogs {
        margin-bottom: 10px;
        line-height: 26px;
        .blog {
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
            margin-right: 7px;
        }
    }

    div.tags {
        margin-bottom: 10px;
        line-height: 26px;
        .tag {
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
            margin-right: 7px;
        }
    }

    select[name='order'] {
        margin-right: 10px;
    }
}
