<!-- Add tag dialog -->
<div class="modal fade" id="addTagModal" tabindex="-1" role="dialog" aria-labelledby="addTagModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add tag</h4>
            </div>

            <div class="modal-body">
                <form role="form" id="addTagForm">

                    <div class="form-group">
                        <label for="_id">Title</label>
                        <input type="text" class="form-control" name="_id" placeholder="Enter tag title" autocomplete="off">
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="commit">Add tag</button>
            </div>
        </div>
    </div>
</div>
<!-- End of add tag dialog -->
