{% for item in items %}
<tr>
    <td class="naCol">
        {% if item['not_available'] %}
        <span class="label label-danger">N/A</span>
        {% endif%}
    </td>
    <td class="avatarCol">
        <a href="http://{{ item['_id']; }}" target="_blank"><img src="http://api.tumblr.com/v2/blog/{{ item['_id']; }}/avatar/30"></a>
    </td>
    <td class="linkCol">
        <strong><a href="http://{{ item['_id']; }}" target="_blank">{{ item['_id']; }}</a></strong>
        <span class="note">{{ item['note'] }}</span>
    </td>
</tr>
{% endfor %}