{% for item in items %}
<div class="panel panel-default post">
    <div class="panel-heading">
        <div class="header">
            <div class="cell avatarCol">
                <a href="http://{{item['blog']}}" target="_blank">
                    <img src="http://api.tumblr.com/v2/blog/{{ item['blog']; }}/avatar/40">
                </a>
            </div>
            <div class="cell">
                <div>
                    <strong>
                        <a href="http://{{item['blog']}}" target="_blank">{{item['info']['blog_name']}}</a>
                    </strong>
                    {% if item['info']['post_author'] %}
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    <strong>
                        <a href="http://{{item['info']['post_author']}}.tumblr.com" target="_blank">{{item['info']['post_author']}}</a>
                    </strong>                        
                    {% endif %}
                </div>
                {% if item['info']['source_url'] %}
                <div>
                    <span class="text-muted">Source: </span>
                    <strong>
                        <a href="{{ item['info']['source_url'] }}" target="_blank">{{ (item['info']['source_title'] || item['info']['source_url']) }}</a>
                    </strong>
                </div>
                {% endif %}
            </div>
            <div class="cell dateCol">
                <span class="text-muted">
                    {{item['info']['date']}}
                </span>
            </div>
            <div class="cell linkCol">
                <a href="{{item['info']['post_url']}}" target="_blank"><span class="glyphicon glyphicon-share"></span></a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        {{ renderContent(item); }}

        <div class="tags">
            {% for tag in item['info']['tags'] %}
            <span class="tag" data-name="{{tag}}" data-id="{{item['_id']}}">#{{tag}}</span>
            {% endfor%}

            {{ userTags({item: item}) }}
        </div>
    </div>

    <div class="panel-footer">
        <div class="footer">
            <div class="cell tagBtCell">
                <button class="btn btn-default open-tag-form">Add tag</button>
            </div>
            <div class="cell tagFormCell">
                <form name="addTagForm" role="form" class="form-inline">
                    <button class="btn btn-default close-tag-form">Close</button>
                    <div class="input-group">
                        <input type="text" class="form-control" name="tag" placeholder="Tag name">
                        <span class="input-group-btn">
                            <button class="btn btn-primary add-tag">Add tag</button>
                        </span>
                    </div>
                    <input type="hidden" name="add" value="1">
                    <input type="hidden" name="_id" value="{{item['_id']}}">
                </form>
            </div>
            <div class="cell likeCol">
                <span class="glyphicon {% if !item['user_liked'] %}glyphicon-heart-empty{% else %}glyphicon-heart liked{% endif %} like" data-id="{{item['_id']}}"></span>
            </div>
        </div>
    </div>
</div>
{% endfor %}