{% for item in items %}
<tr>
    <td class="titleCol">
        {{ item['_id']; }}
    </td>
    <td class="deleteCol">
        <a href="#" class="deleteTag" data-id="{{ item['_id']}}">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </td>
</tr>
{% endfor %}