<!-- Health dialog -->
<div class="modal fade" id="healthModal" tabindex="-1" role="dialog" aria-labelledby="healthModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Status</h4>
            </div>

            <div class="modal-body">
                <table class="table table-striped table-hover health-content">
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of health dialog -->