<!-- Health dialog -->
<div class="modal fade" id="importParsingModal" tabindex="-1" role="dialog" aria-labelledby="importParsingModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Import by parsing</h4>
            </div>

            <div class="modal-body">
                <form role="form" id="importParsingForm">
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="parse_html" checked="checked"> Parse HTML for links
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="parse_uri"> Parse URIs for links
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="type" value="import_uri"> Import URIs
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="text">HTML / URIs (separate URIs by spaces or new lines)</label>
                        <textarea class="form-control" name="text" placeholder="Enter text" ></textarea>
                    </div>

                    <input type="hidden" id="action" value="true">
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="commit">Import</button>
            </div>
        </div>
    </div>
</div>
<!-- End of health dialog -->